@charset "UTF-8";

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: #1b15c6c0;
}

body > main {
  display: flex;
  flex-flow: row nowrap;
  background-color: rgb(224, 224, 224);
  height: 100px;
  border-radius: 15px;
  padding: 10px;
  max-width: 1200px;
  margin: 10px auto;
}

section {
  text-align: center;
  border: 1px solid #1b15c6;
  background-color: #ffe940ad;
  height: 80px;
  border-radius: 15px;
  flex: 10px;
}

#i1 {
  flex-shrink: 1;
  flex-grow: 1;
}

#i2 {
  flex-shrink: 0;
  flex-grow: 2;
}

#i3 {
  flex-shrink: 2;
  flex-grow: 1;
}
