@charset "UTF-8";

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body > main {
  display: flex;
  flex-flow: row wrap;
  background-color: rgb(224, 224, 224);
  height: 600px;
  max-width: 800px;
  margin: 0 auto;
}

section {
    flex: auto;
  order: 5;
  border: 1px solid darkgray;
  background-color: grey;
  text-align: justify;
}

#i1 {
    order: 4;
}
#i2 {
    order: 2;
}
#i3 {
    order: 8;
}
#i4 {
    order: 6;
}
#i5 {
    order: 5;
}
#i6 {
    order: 3;
}
#i7 {
    order: 7;
}
#i8 {
    order: 1;
}
