body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.0)0%,
            rgb(0, 0, 0)84%),
        url(../img/imagens-cap19/wallpaper002.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center top;
    background-color: rgba(0, 0, 0, 0.507);

}

main>h1 {
    text-align: center;
}

main {
    margin: auto;
    background-color: white;
    padding: 10px;
    width: 400px;
    text-align: justify;
    border: 2px solid darkblue;
    border-radius: 7px;
}