body {
    font-family: Arial, Helvetica, sans-serif;
    background: black url(../img/imagens-cap19/wallpaper002.jpg) center top no-repeat fixed;
    background-size: cover;

}

main>h1 {
    text-align: center;
}

main {

    margin: auto;
    background-color: white;
    padding: 10px;
    min-width: 300px;
    max-width: 700px;
    text-align: justify;
    border: 2px solid darkblue;
    border-radius: 7px;
}