@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}


div.container{
    height: 500px;
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    justify-content: space-around;
    background-color: grey;
}
div.item{
    display: flex;
    align-items: center;
    padding: 5px;
    background-color: darkgray;
    border: 1px solid black;
    border-radius: 8px;
    transition: background-color 0.25s;

}
div.item:hover{
    background-color: rgb(190, 190, 190);
}