    body {
        min-height: 100vh;
        color: #f5f5f5;
        font-family: Arial, Sans-serif;
        background: #000000;
        background: -webkit-linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(18, 18, 18, 1) 100%);
        background: -moz-linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(18, 18, 18, 1) 100%);
        background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(18, 18, 18, 1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000", endColorstr="#121212", GradientType=0);
        text-align: center;
    }

    #linkCurso {
        background-color: white;
        width: 50px;
        height: 50px;
        text-align: center;
        border: 3px solid white;
        box-shadow: 0px 0px 28px rgba(0, 0, 0, 0.80), 0 -10px 20px -5px #ffffff;
        border-radius: 7.5px;
        display: inline-block;
    }

    #imageCurso {
        padding-top: 5px;
        height: 40px;
        width: 40px;
    }