body {
    font-family: Arial, Helvetica, sans-serif;
    background: black url(../img/imagens-cap19/wallpaper002.jpg) center top no-repeat fixed;
    background-size: cover;
    margin: 0px;

}

.content>h1 {
    text-align: center;
}

.container {
    background: white url(../img/imagens-cap19/target001.png) center center no-repeat fixed ;
    background-size: 100% 100%;
    height: 97vh;
    padding: 10px;
}

.content{
    background-image: url(../img/imagens-cap19/target001.png);
    background-size: 100% 100%;
    position: absolute;
    left: 30%;
    top: 20%;
    background-color: rgba(255, 255, 255, 0.301);
    margin: auto;
    padding: 10px;
    min-width: 200px;
    max-width: 400px;
    border: 2px solid darkblue;
    border-radius: 7px;
}