@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sriracha&display=swap');

:root{
    --fonte-escrita: "Sriracha", cursive;
    --fonte-titulo: 'Passion One', sans-serif;
    --fonte-rodape: 'Roboto', sans-serif
}

* {
    margin: 0px;
    padding: 0px;
}


html,
body {
    font-family: var(--fonte-rodape);
    background-color: darkgrey;
}

header {
    font-family: var(--fonte-titulo);
    background-color: black;
    color: white;
    text-align: center;
}

header>h1 {
    font-size: 10vw;
    padding-top: 50px;
    margin-bottom: 20px;
    font-variant: small-caps;
}

header>h2{
    margin-bottom: 20px;
    font-size: 5vw;
}

header>p {
    padding-bottom: 30px;
    font-size: 2.5vw;
}

header>p>a,
footer>p>a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}


header>p>a:hover,
footer>P>a:hover {
    text-decoration: underline;
}

section{
    font-family: var(--fonte-escrita);
    font-size: 2.7vw;
    padding: 10vh 20px;
    line-height: 2em;
}

section.normal{
    color: #000;
    background-color: white;

}

section.normal>p{
    padding-bottom: 2em;
}

section.imagem{
    color: white;
    background-color: rgb(53, 53, 53);
    background-attachment: fixed;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.75);
    box-shadow: inset 3px 2px 6px 1px rgba(0, 0, 0, 0.4);
    background-size: cover;
    
}

section.imagem#img1{
    background-image: url(../img/joaninha.webp);
    background-position: center right;
}

section.imagem#img2{
    background-image: url(../img/livro.webp);
    background-position: center right;
    
}

section.imagem> p{
    display: inline-block;
    background-color: #00000088;
    padding: 10px;
}




footer{
    background-color: black;
    text-align: center;
    color: white;
    padding: 4px;
}